*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-image: url(../imagenes/low-poly-grid-haikei.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #0F1B40;
    width: 100%;
    display:flex;
    height: 10vh;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    padding: 0 20px ;
    align-items: center;
    top: 0;
}


@font-face {
    font-family: 'seasideresortnfregular';
    src: url('../fuentes/seasrn__-webfont.woff2') format('woff2'),
         url('../fuentes/seasrn__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#banda {
       font-family: 'seasideresortnfregular';
    src: url('../fuentes/seasrn__-webfont.woff2') format('woff2'),
         url('../fuentes/seasrn__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 60px;
     margin: 0 auto;
    position: relative;
    z-index: 1;
}

nav {
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
    z-index: 999;
    position: sticky;
}

a{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 1.5rem;
    color: white;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}


#panelhamburguesa{
    height: 100vh;
    width: 400px;
    position: fixed;
    top: 10vh;
    right: -1000px;
    transition: right .7s ease;
    background-color: #740C0D;
    background-size: 100% 100%;
    border: 1px solid white;
    padding: 0;
    margin: 0;

}

#panelhamburguesa:target{
    right: 0;
    z-index: 999;
}

#cerrar{
    display: none;
}

#panelhamburguesa:target ~ header nav #abrir {
     display: none;
 }

#panelhamburguesa:target ~ header nav #cerrar {
    display: inline-block;

 }
 #tapado{
 position: fixed;
 left: 0;
  width: 100%;
 height: 100%;
 z-index: 900;
 background-color: rgba(0, 0, 0, 0);
 opacity: 0;
 transition: 1s ease, opacity 0.5s ease;
 pointer-events: none;
}

#panelhamburguesa:target ~ #tapado {
opacity: 1;
background-color: rgba(0, 0, 0, 0.621);
pointer-events: auto;
}

.burgir{
    display: block;
    text-align: center;
    background-color:#740C0D ;
    border: 1px solid white;
    font-size: 2rem;
}


header, nav, main{
    padding: 1em;
}
main{
    margin-top: 5vh;
   position: relative;
   flex: 1;
    display: flex;
    flex-direction: column;
  
}
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fuentes/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fuentes/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.album { 
   padding: 2rem;
   text-align: center;
} 

h1, h2{
    font-family: 'kaushan_scriptregular';
    src: url('../fuentes/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fuentes/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: #D2C388;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    scroll-margin-top: 100px;
}
h2{
    text-align: center;
    margin: 1.2rem auto;
    text-decoration: underline;
}

.contenedor{
display: flex;
flex-direction: row-reverse;
align-items: stretch;
gap: 0;
flex-wrap: wrap;
height: 700px;
margin: 1rem;
border: 7px solid #0F1B40;
box-shadow: 0 0 55px rgba(255, 17, 17);;
}

.poster{
height: 100%;
flex: 1;
}

.poster img{
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;

}
.canciones{
flex-direction: column;
gap: 1rem;
background-color: rgba(255, 17, 17, 0.3);
overflow: auto;
flex: 1;
height: 100%;
padding: 1rem;

}

.canciones iframe{
width: 100%;
height: 80px;
}

.texto{
flex-direction: column;
gap: 1rem;
background-color: rgba(255, 17, 17, 0.3);
overflow: auto;
flex: 1;
height: 100%;
padding: 1rem;
}

.biografia{
    height: 100%;
flex: 1;
}

.biografia img{
width: 100%;
height: 95%;
border-radius: 10px;
object-fit: cover;
border: 10px solid #740C0D;
}

figcaption{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D2C388;
    font-size: 10px;
    text-align: center;
    border: 5px solid #740C0D;
}

p{
font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-indent: 15px;
    text-align: left;
}

.contenedor2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    margin-top: 2%;
}


.columna{
    width:30%;
   min-width: 300px;
   min-height: 410px;
   background-color: #740C0D;
   border-radius: 12px;
   padding: 30px;
   transition: transform 0.5s ease, box-shadow 0.5s ease;
}

 .columna2{
    width:20%;
   min-width: 250px;
   min-height: 200px;
   background-color: #740C0D;
   border-radius: 12px;
   padding: 35px;
   transition: transform 0.5s ease, box-shadow 0.5s ease;
 }
.columna:hover, .columna2:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}
h3{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D2C388;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
}


#guido{
   margin: 35px 80px;
   height: 500px;
    border: 5px dashed black;
    border-radius: 10px;
}

#patricio{
    margin-top: 35px;
    margin-bottom: 65px;
   height: 440px;
    border: 5px dashed black;
    border-radius: 10px;
}

#gaston{
    margin-top: 35px;
    margin-left: 70px;
    margin-bottom: 25px;
   height: 450px;
    border: 5px dashed black;
    border-radius: 10px;
}


.contenedorvideos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.video {
  width: 30%;
  min-width: 300px;
  aspect-ratio: 16 / 9;
  border: 5px solid #740C0D;
  border-radius: 10px;
}



.entrevista{
    width: 70%;
    padding: 20px;
    margin-left: 258px;
    background-color: rgba(255, 17, 17, 0.3);
    border: 2px solid rgba(125, 4, 4, 0.675);
    border-radius: 8px;
    min-width: 500px;
    margin-bottom: 70px;
    margin-top: 50px;
}

#entrevistavideo{
    height: 425px;
    width: 65%;
    margin-top: 15px;
    margin-left: 200px;
}

.formulario{
    width: 500px;
    margin: 0 auto;
    color: white ;
    background-color: #740C0D;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px 20px rgba(27, 27, 27, 0.1);
}
.formulario fieldset{
    border: 3px solid #0F1B40;
    border-radius: 8px;
     padding: 1rem;
    margin-bottom: 2rem;
}
.formulario legend span{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #0F1B40;
    font-size: 15px;
    padding: 10px;
    width: 400px;
    border-radius: 8px;
}
.formulario span{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.formulario label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
.formulario input, .formulario select {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #7ea0d9;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: #f0f4f8;
}

.confirmacion {
  height: 600px;      
  width: 500px; 
  margin: 10px auto;      
  padding: 20px;     
  background-color: rgba(172, 42, 42, 0.382); 
  border-radius: 12px;    
  border: 2px solid #6f2727d5;
  line-height: 1; 
  margin-top: 100px;    
}

.confirmacion p {
  margin-bottom: 1.2em;   
  font-size: 1.2rem   
}



.confirmacion p:first-of-type{
    font-size: 27px;
}
.confirmacion img{
    width: 50px;
    transition: transform 0.2s;
}

.confirmacion img:hover{
    transform: scale(1.1);
}
.formulario button[type="submit"] {
  display: block;
  margin: 0 auto;
  background: #0F1B40;
  color: #e0e7ff;
  font-weight: 800;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}
.formulario button[type="submit"]:hover {
  background-color: #001c8d;
  box-shadow: 0 4px 15px rgba(100, 120, 200, 0.5);
}

footer {
    background-color: #4e0809;
    z-index: 1;
     border-top: solid 7px black;

}



.redes{
    justify-content: center;
    gap: 30px;
    display: flex;
    align-items: center;
}

.redes img{
    width: 60px;
    height: auto;
    padding: 0;
    margin: 0;
    transition: transform 0.4s;
}

.redes img:hover{
    transform: scale(1.1)
}
.color{
    color: black;
}